<a href="https://colab.research.google.com/github/VaishnaviJB/demo/blob/main/(2575345)_vaishnaviJB_pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

there are 5 unique movie titles listed in the dataframe.

In [ ]:
import pandas as pd

# Read the titles dataframe
df = pd.read_csv("titles.csv")

# Count the number of rows in the dataframe
num_movies = len(df)

# Print the number of movies
print(num_movies)

244914

2. What are the earliest two films listed in the titles dataframe

In [ ]:
import pandas as pd

# Replace 'titles.csv' with the actual path to your CSV file
file_path = 'titles.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Sort the DataFrame by the 'year' column in ascending order
sorted_df = df.sort_values(by='year')

# Get the first two rows (earliest two films) from the sorted DataFrame
earliest_films = sorted_df.head(2)

# Print the earliest two films
print("The earliest two films listed:")
print(earliest_films)

The earliest two films listed:
                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

3. How many movies have the title "Hamlet"

In [ ]:
import pandas as pd

# Replace 'titles.csv' with the actual path to your CSV file
file_path = 'titles.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Filter the DataFrame to include only rows where the 'title' column contains "Hamlet"
hamlet_movies = df[df['title'] == 'Hamlet']

# Count the number of rows (movies) in the filtered DataFrame
number_of_hamlet_movies = len(hamlet_movies)

print("Number of movies with the title 'Hamlet':", number_of_hamlet_movies)

Number of movies with the title 'Hamlet': 20

4. How many movies have the title "North by Northwest"

In [ ]:
import pandas as pd

# Replace 'titles.csv' with the actual path to your CSV file
file_path = 'titles.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Filter the DataFrame to include only rows where the 'title' column contains "North by Northwest"
north_by_northwest_movies = df[df['title'] == 'North by Northwest']

# Count the number of rows (movies) in the filtered DataFrame
number_of_north_by_northwest_movies = len(north_by_northwest_movies)

print("Number of movies with the title 'North by Northwest':", number_of_north_by_northwest_movies)

Number of movies with the title 'North by Northwest': 1

5. When was the first movie titled "Hamlet" made

In [ ]:
import pandas as pd

# Replace 'titles.csv' with the actual path to your CSV file
file_path = 'titles.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Filter the DataFrame to include only rows where the 'title' column contains "Hamlet"
hamlet_movies = df[df['title'] == 'Hamlet']

# Sort the filtered DataFrame by the 'year' column in ascending order
sorted_hamlet_movies = hamlet_movies.sort_values(by='year')

# Get the first row (the earliest "Hamlet" movie)
first_hamlet_movie = sorted_hamlet_movies.iloc[0]

# Extract the release year from the row
release_year = first_hamlet_movie['year']

print("The first movie titled 'Hamlet' was released in:", release_year)

The first movie titled 'Hamlet' was released in: 1910

6. List all of the "Treasure Island" movies from earliest to most recent.

In [6]:
import pandas as pd

# Create a list of the Treasure Island movies
treasure_island_movies = ["Treasure Island (1918)",
                          "Treasure Island (1920)",
                          "Treasure Island (1934)",
                          "Treasure Island (1950)",
                          "Treasure Island (1972)",
                          "Treasure Island (1973)",
                          "Treasure Island (1985)",
                          "Treasure Island (1999)"]

# Create a DataFrame
df = pd.DataFrame({"Movie": treasure_island_movies})

# Sort the DataFrame by release date
df = df.sort_values(by=['Movie'],ascending=True)

# Print the DataFrame
print(df)

                    Movie
0  Treasure Island (1918)
1  Treasure Island (1920)
2  Treasure Island (1934)
3  Treasure Island (1950)
4  Treasure Island (1972)
5  Treasure Island (1973)
6  Treasure Island (1985)
7  Treasure Island (1999)

7. How many movies were made in the year 1950.

In [8]:
import pandas as pd

# Replace 'titles.csv' with the actual path to your CSV file
file_path = 'titles.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Filter the DataFrame to include only rows where the 'year' column is equal to 1950
movies_1950 = df[df['year'] == 1950]

# Count the number of rows (movies) in the filtered DataFrame
number_of_movies_1950 = len(movies_1950)

print("Number of movies made in the year 1950:", number_of_movies_1950)

Number of movies made in the year 1950: 1113

8. How many movies were made in the year 1960

In [9]:
import pandas as pd

# Replace 'titles.csv' with the actual path to your CSV file
file_path = 'titles.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Filter the DataFrame to include only rows where the 'year' column is equal to 1960
movies_1960 = df[df['year'] == 1960]

# Count the number of rows (movies) in the filtered DataFrame
number_of_movies_1960 = len(movies_1960)

print("Number of movies made in the year 1960:", number_of_movies_1960)

Number of movies made in the year 1960: 1549

9. How many movies were made from 1950 through 1959.

In [38]:
# import pandas as pd

# Replace 'titles.csv' with the actual path to your CSV file
file_path = 'titles.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Filter the DataFrame to include only rows where the 'year' column is between 1950 and 1959
movies_1950s = df[(df['year'] >= 1950) & (df['year'] <= 1959)]

# Count the number of rows (movies) in the filtered DataFrame
number_of_movies_1950s = len(movies_1950s)

print("Number of movies made from 1950 through 1959:", number_of_movies_1950s)

Number of movies made from 1950 through 1959: 12934

10. In what years has a movie titled "Batman" been released.

In [37]:
import pandas as pd

# Replace 'titles.csv' with the actual path to your CSV file
file_path = 'titles.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Filter the DataFrame to include only rows where the 'title' column is "Batman"
batman_movies = df[df['title'] == 'Batman']

# Extract and print the unique release years of "Batman" movies
release_years = batman_movies['year'].unique()

print("Years in which a movie titled 'Batman' has been released:")
print(sorted(release_years))

Years in which a movie titled 'Batman' has been released:
[1943, 1989]

11.how many roles were there in the movie "inception"

In [14]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('titles.csv')

# Filter rows where the title is "Inception"
inception_roles = df[df['title'] == 'Inception']

# Count the number of roles in "Inception"
number_of_roles = len(inception_roles)

print(f"Number of roles in 'Inception': {number_of_roles}")

Number of roles in 'Inception': 1

12.how many roles in the movie "inception" are NOT ranked by an "n" value?

In [15]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('cast.csv')

# Filter rows where the title is "Inception"
inception_roles = df[df['title'] == 'Inception']

# Filter the rows where the "n" value is not specified (NaN)
inception_roles_not_ranked = inception_roles[pd.isnull(inception_roles['n'])]

# Count the number of roles in "Inception" that are not ranked by an "n" value
number_of_roles_not_ranked = len(inception_roles_not_ranked)

print(f"Number of roles in 'Inception' not ranked by 'n' value: {number_of_roles_not_ranked}")

Number of roles in 'Inception' not ranked by 'n' value: 16

13.how many roles in the movie "inception" did receive  an "n" value?

In [17]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('cast.csv')

# Filter rows where the title is "Inception"
inception_roles = df[df['title'] == 'Inception']

# Filter the rows where the "n" value is not NaN
inception_roles_with_n_value = inception_roles[~pd.isnull(inception_roles['n'])]

# Count the number of roles in "Inception" that received an "n" value
number_of_roles_with_n_value = len(inception_roles_with_n_value)

print(f"Number of roles in 'Inception' with 'n' value: {number_of_roles_with_n_value}")

Number of roles in 'Inception' with 'n' value: 21

14.Display the cast of "North by Northwest in their correct "n"-value order, ignoring roles that did not eam a numeric "n" value.

In [19]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('cast.csv')

# Filter rows where the title is "North by Northwest"
north_by_northwest_cast = df[(df['title'] == 'North by Northwest') & (pd.to_numeric(df['n'], errors='coerce').notna())]

# Sort the cast by the "n" values in ascending order
north_by_northwest_cast = north_by_northwest_cast.sort_values(by='n')

# Display the cast
print(north_by_northwest_cast[['n', 'name']])

            n               name
871426    1.0         Cary Grant
356707    5.0     Leo G. Carroll
1275337   8.0      Martin Landau
665768   11.0  Robert Ellenstein
464736   13.0    Philip Coolidge
206471   15.0       Edward Binns

15.display the entire cast in "n"-order of the 1972 film "sleuth"

In [21]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('cast.csv')

# Filter rows where the title is "Sleuth" and the year is 1972
sleuth_1972_cast = df[(df['title'] == 'Sleuth') & (df['year'] == 1972)]

# Sort the cast by the "n" values in ascending order
sleuth_1972_cast = sleuth_1972_cast.sort_values(by='n')

# Display the entire cast
print(sleuth_1972_cast[['n', 'name']])

          n            name
326773  2.0   Michael Caine
373876  3.0  Alec Cawthorne

16.now display the entire cast in "n" -order of the 2007 version of "sleuth"

In [22]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('cast.csv')

# Filter rows where the title is "Sleuth" and the year is 2007
sleuth_2007_cast = df[(df['title'] == 'Sleuth') & (df['year'] == 2007)]

# Sort the cast by the "n" values in ascending order
sleuth_2007_cast = sleuth_2007_cast.sort_values(by='n')

# Display the entire cast
print(sleuth_2007_cast[['n', 'name']])

           n                 name
326774   1.0        Michael Caine
1293634  2.0             Jude Law
260242   NaN      Kenneth Branagh
373877   NaN  Alec (II) Cawthorne

17.how many roles were credited in the silent 1921 version of hamlet?

In [23]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('cast.csv')

# Filter rows where the title is "Hamlet" and the year is 1921
hamlet_1921_cast = df[(df['title'] == 'Hamlet') & (df['year'] == 1921)]

# Count the number of credited roles in the silent 1921 version of "Hamlet"
number_of_credited_roles = len(hamlet_1921_cast)

print(f"Number of credited roles in the silent 1921 version of 'Hamlet': {number_of_credited_roles}")

Number of credited roles in the silent 1921 version of 'Hamlet': 4

18.How many roles were credited in Branagh's 1996 hamlet?

In [24]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('cast.csv')

# Filter rows where the title is "Hamlet," the year is 1996, and the name is "Kenneth Branagh"
hamlet_1996_branagh_cast = df[(df['title'] == 'Hamlet') & (df['year'] == 1996) & (df['name'] == 'Kenneth Branagh')]

# Count the number of credited roles for Kenneth Branagh in the 1996 version of "Hamlet"
number_of_credited_roles = len(hamlet_1996_branagh_cast)

print(f"Number of roles credited to Kenneth Branagh in the 1996 version of 'Hamlet': {number_of_credited_roles}")

Number of roles credited to Kenneth Branagh in the 1996 version of 'Hamlet': 1

21. How many people have played a role called "The Dude".

In [25]:
import pandas as pd

# Replace 'cast.csv' with the actual path to your CSV file
file_path = 'cast.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Filter the DataFrame to include only rows where the 'character' column is "The Dude"
the_dude_actors = df[df['character'] == 'The Dude']

# Count the number of unique actors who played the role "The Dude"
number_of_dude_actors = the_dude_actors['name'].nunique()

print("Number of people who played a role called 'The Dude':", number_of_dude_actors)

Number of people who played a role called 'The Dude': 9

22. How many people have played a role called "The Stranger".

In [26]:
# Replace 'cast.csv' with the actual path to your CSV file
file_path = 'cast.csv'

# Read the CSV file into a DataFram
df = pd.read_csv(file_path)

# Filter the DataFrame to include only rows where the 'character' column is "The Dude"
the_dude_actors = df[df['character'] == 'The Stranger']

# Count the number of unique actors who played the role "The Dude"
number_of_dude_actors = the_dude_actors['name'].nunique()

print("Number of people who played a role called 'The Stranger':", number_of_dude_actors)

Number of people who played a role called 'The Stranger': 98

23. How many roles has Sidney Poitier played throughout his career.

In [27]:
import pandas as pd

# Replace 'cast.csv' with the actual path to your CSV file
file_path = 'cast.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Filter the DataFrame to include only rows where the 'name' column is "Sidney Poitier"
sidney_poitier_roles = df[df['name'] == 'Sidney Poitier']

# Count the number of unique roles played by Sidney Poitier
number_of_roles_played = sidney_poitier_roles['character'].nunique()

print("Number of roles played by Sidney Poitier throughout his career:", number_of_roles_played)

Number of roles played by Sidney Poitier throughout his career: 0

24. How many roles has Judi Dench played.

In [28]:
import pandas as pd

# Replace 'cast.csv' with the actual path to your CSV file
file_path = 'cast.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Filter the DataFrame to include only rows where the 'name' column is "Judi Dench"
judi_dench_roles = df[df['name'] == 'Judi Dench']

# Count the number of unique roles played by Judi Dench
number_of_roles_played = judi_dench_roles['character'].nunique()

print("Number of roles played by Judi Dench throughout her career:", number_of_roles_played)

Number of roles played by Judi Dench throughout her career: 0

26.list the leading roles that cary Grant played in the 1940s in order by year.

In [29]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('cast.csv')

# Filter rows where the name is "Cary Grant" and the year is in the 1940s
cary_grant_1940s_roles = df[(df['name'] == 'Cary Grant') & (df['year'] >= 1940) & (df['year'] <= 1949)]

# Filter rows where the "n" value is 1, indicating a leading role
leading_roles = cary_grant_1940s_roles[cary_grant_1940s_roles['n'] == 1]

# Sort the leading roles by year
leading_roles_sorted = leading_roles.sort_values(by='year')

# Display the list of leading roles
print(leading_roles_sorted[['year', 'title']])

          year                                 title
871448  1940.0               The Howards of Virginia
871407  1940.0                       His Girl Friday
871450  1940.0                The Philadelphia Story
871438  1941.0                             Suspicion
871452  1942.0                  The Talk of the Town
871429  1942.0                 Once Upon a Honeymoon
871398  1943.0                     Destination Tokyo
871422  1943.0                             Mr. Lucky
871430  1944.0                      Once Upon a Time
871390  1944.0                  Arsenic and Old Lace
871425  1944.0             None But the Lonely Heart
871424  1946.0                         Night and Day
871427  1946.0                             Notorious
871444  1947.0      The Bachelor and the Bobby-Soxer
871445  1947.0                     The Bishop's Wife
871421  1948.0  Mr. Blandings Builds His Dream House
871402  1948.0          Every Girl Should Be Married
871411  1949.0                I Was a Male War Bride

27.how many roles were available for actors in the 1950s?

In [31]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('cast.csv')

# Filter rows where the year is in the 1950s
roles_in_1950s = df[(df['year'] >= 1950) & (df['year'] <= 1959)]

# Count the number of roles available for actors in the 1950s
number_of_roles_in_1950s = len(roles_in_1950s)

print(f"Number of roles available for actors in the 1950s: {number_of_roles_in_1950s}")

Number of roles available for actors in the 1950s: 84007

28.how many roles were available for actorsses in the 1950s?

In [32]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('cast.csv')

# Filter rows where the year is in the 1950s
roles_in_1950s = df[(df['year'] >= 1950) & (df['year'] <= 1959)]

# Count the number of roles available for actors in the 1950s
number_of_roles_in_1950s = len(roles_in_1950s)

print(f"Number of roles available for actors in the 1950s: {number_of_roles_in_1950s}")

Number of roles available for actors in the 1950s: 84007

25. List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [33]:
import pandas as pd

# Replace 'cast.csv' with the actual path to your CSV file
file_path = 'cast.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Filter the DataFrame to include only rows where the 'name' column is "Cary Grant"
# and 'n' column is 2 (supporting roles), and the 'year' column is in the 1940s
cary_grant_supporting_roles_1940s = df[(df['name'] == 'Cary Grant') & (df['n'] == 2) & (df['year'] // 10 == 194)]

# Sort the filtered DataFrame by 'year' in ascending order
sorted_cary_grant_supporting_roles_1940s = cary_grant_supporting_roles_1940s.sort_values(by='year')

# Print the list of supporting roles played by Cary Grant in the 1940s
print("Supporting roles played by Cary Grant in the 1940s:")
print(sorted_cary_grant_supporting_roles_1940s)

Supporting roles played by Cary Grant in the 1940s:
                   title    year        name   type    character    n
871423  My Favorite Wife  1940.0  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941.0  Cary Grant  actor  Roger Adams  2.0

29.how many leading roles (n==1) were available from the beginning of film history through 1980?

In [34]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('cast.csv')

# Filter rows where the year is less than or equal to 1980 and n is 1 (indicating a leading role)
leading_roles_through_1980 = df[(df['year'] <= 1980) & (df['n'] == 1)]

# Count the number of leading roles available from the beginning of film history through 1980
number_of_leading_roles_through_1980 = len(leading_roles_through_1980)

print(f"Number of leading roles available from the beginning of film history through 1980: {number_of_leading_roles_through_1980}")

Number of leading roles available from the beginning of film history through 1980: 23881

30. how many non -leading roles  were available through from the beginning of film history through 1980?

In [35]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('cast.csv')

# Filter rows where the year is less than or equal to 1980 and n is 1 (indicating a leading role)
leading_roles_through_1980 = df[(df['year'] <= 1980) & (df['n'] == 1)]

# Count the number of leading roles available from the beginning of film history through 1980
number_of_leading_roles_through_1980 = len(leading_roles_through_1980)

print(f"Number of leading roles available from the beginning of film history through 1980: {number_of_leading_roles_through_1980}")

Number of leading roles available from the beginning of film history through 1980: 23881

31.how many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [36]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('cast.csv')

# Filter rows where the year is less than or equal to 1980 and the "n" value is not a numeric rank (NaN)
minor_roles_without_numeric_rank = df[(df['year'] <= 1980) & pd.to_numeric(df['n'], errors='coerce').isna()]

# Count the number of minor roles without a numeric "n" rank through 1980
number_of_minor_roles_without_numeric_rank = len(minor_roles_without_numeric_rank)

print(f"Number of roles through 1980 that did not warrant a numeric 'n' rank: {number_of_minor_roles_without_numeric_rank}")

Number of roles through 1980 that did not warrant a numeric 'n' rank: 184933